.Dictionary .navigation {
  color: white !important;
}

.Dictionary .navbar {
  background-color: #141414 !important;
}

.Dictionary h2 {
  font-size: 90px;
  padding-top: 70px;
  padding-left: 40px;
}

.Dictionary .pronunciation {
  font-size: 13px;
}
