.Synonyms {
  padding-top: 20px;
  padding: 20px 50px;
}

.Synonyms .title-mini {
  font-size: 13px;
  opacity: 0.7;
  font-weight: 100;
}

.Synonyms .synonym-word {
  font-size: 11px;
  color: #1e67d3;
  padding-right: 10px;
}
